.botao {
  background-color: #3D3B8E;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  height: 32px;
  margin-left: 16px;
  padding: 8px;
}

.botao:hover {
  background-color: white;
  color: #3D3B8E;
  cursor: pointer;
  font-weight: bold;
  transition: 0.6s;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.titulo {
  background-color: #3D3B8E;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  margin-left: 16px;
  padding: 8px;
  width: 200px;
}

.erro {
  background-color: #fb501281;
  color: red;
  border-radius: 4px;
  height: 18px;
  margin: 8px auto;
  padding: 8px;
  width: 300px;
}

.sucesso {
  background-color: rgba(172, 255, 47, 0.514);
  color: green;
  border-radius: 4px;
  height: 18px;
  margin: 8px auto;
  padding: 8px;
  width: 300px;
}