.container {
  display: flex;
  justify-content: center;
}

.inicio {
  background-color: #6883BA;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 5px -5px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: bold;
  height: 150px;
  justify-content: space-around;
  margin: 32px 0;
  max-width: 500px;
  padding: 24px;
  text-align: center;
}

.texto-container {
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  padding: 18px;
}

.texto-container h1 {
  font-size: 1.5rem;
}

.texto-container p {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 8px auto;
}

@media (max-width: 500px) {
  .inicio {
    max-width: 320px;
  }
  .texto-container h1 {
    font-size: 1.25rem;
  }
  
  .texto-container p {
    font-size: 1rem;
  }
}
